* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #ffb900;
}

/* ################ Common ################*/

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

.heading_lv1 {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.heading_lv2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

/* ################ Header ################*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -30px;
  z-index: 1;
  padding: 38px 0 8px 49px;
}

.header .body {
  display: flex;
  align-items: center;
}

.header .nav {
  margin-left: auto;
}

.header .nav__list {
  display: flex;
}

.header .nav__item:hover a,
.header .nav__item.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.header .nav__item a {
  display: inline-block;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
  position: relative;
}

.header .nav__item.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  position: absolute;
  left: 22px;
  bottom: 6px;
}

.header .action {
  padding: 0 49px;
}

.header .action__sign-up {
  min-width: 144px;
}
