* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #ffb900;
  --font-heading: Sen;
}

/* ################ Common ################*/

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  line-height: 50px;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  color: #ffffff;
  background: #171100;
  border-radius: 999px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.heading_lv1 {
  color: #171100;
  font-family: Sen;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
}

.heading_lv2 {
  color: #171100;
  font-family: Sen;
  font-size: 3.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.heading_lv3 {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

/* ################ Header ################*/
.header {
  background: #fffcf4;
}

.header.fixed {
  position: sticky;
  top: -30px;
  z-index: 1;
  padding: 38px 0 8px 49px;
}

.header .body {
  display: flex;
  align-items: center;
}

.header .nav {
  margin-left: auto;
}

.header .nav__list {
  display: flex;
}

.header .nav__item:hover a,
.header .nav__item.active a {
  text-shadow: 1px 0 0 currentColor;
  color: #171100;
}

.header .nav__item a {
  display: inline-block;
  padding: 8px 21px;
  color: #5f5b53;
  font-size: 1.6rem;
  line-height: 1.75;
  position: relative;
}

.header .nav__item.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  background: #171100;
  border-radius: 1px;
  position: absolute;
  left: 22px;
  bottom: 6px;
}

.header .action {
  padding: 0 49px;
}

.header .action__sign-up {
  min-width: 144px;
}

/* ################ Hero ################*/
.hero {
  padding: 57px 0 65px;
  background: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero__left {
  width: 100%;
  position: relative;
}

.hero__left .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero__left .overview {
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 24px 36px;
}

.hero__left .overview .item {
  display: flex;
  align-items: center;
}

.hero__left .overview .item:nth-of-type(2) {
  margin: 22px 0;
}

.hero__left .overview .item .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.hero__left .overview .item:nth-of-type(1) .icon {
  background-color: #fff9e8;
}

.hero__left .overview .item:nth-of-type(2) .icon {
  background: #fcefff;
}

.hero__left .overview .item:nth-of-type(3) .icon {
  background: #ebeaff;
}

.hero__left .overview .item .label {
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.hero__left .overview .item .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.hero-right {
  width: 100%;
  padding: 64px 0 0 130px;
}

.hero-right .content {
  width: 470px;
}

/* .hero-right .heading_lv1.title,
.hero-right .desc {
  width: 470px;
} */

.hero-right .content .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66; /* 166.667% */
  margin-top: 22px;
}

.hero-right .cta-group {
  margin-top: 38px;
  display: flex;
}

.hero-right .watch-video {
  border: none;
  background: #fffcf4;
  margin-left: 28px;
  display: flex;
  align-items: center;
}

.hero-right .watch-video .icon {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 14px; */
}

.hero-right .watch-video .icon i {
  color: #ffb900;
}

.hero-right .watch-video .watch {
  padding-left: 8px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.66; /* 166.667% */
}

.hero-right .desc-recent {
  padding-top: 26px;
}

.hero-right .desc.stats {
  margin-top: 8px;
}

.hero-right .stats span:first-of-type {
  margin-right: 28px;
}

.hero-right .strong-stats {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.22; /* 122.727% */
  padding-right: 8px;
}

/* ################ Popular ################*/
.popular {
  padding: 200px 0;
}

.popular .body .row {
  display: flex;
  justify-content: space-between;
}

.popular .body .row .content-left .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.66;
}

.popular .body .row .content-right {
  display: flex;
  margin-top: 42px;
}

.popular .body .row .content-right .icon {
  width: 40px;
  height: 40px;
  border: 1px solid #ffb900;
  color: #ffb900;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popular .body .row .content-right .icon:hover {
  color: #fff;
  background: #ffb900;
}

.popular .body .row .content-right .arrow-left {
  margin-right: 10px;
}

.popular__list {
  margin-top: 55px;
  display: flex;
  gap: 30px;
}

.popular__list .item {
  border-radius: 12px;
  background: #fff;
  border: 1px solid #ccc;
}

.popular__list .item:hover {
  box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.1);
}

.popular__list .item .images {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0px 0px;
}

.popular__list .item .info {
  padding: 16px 22px 22px;
}

.popular__list .item .info .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popular__list .item .info .row .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

.popular__list .item .info .row .stars i {
  padding-right: 8px;
}

.popular__list .item .info .desc {
  margin-top: 6px;
  color: #5f5b53;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
  height: 52px;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.popular__list .item .info .row-bottom {
  margin-top: 12px;
}

.popular__list .item .info .row-bottom .btn-popular:hover {
  background: var(--primary-color);
  color: #fff;
}

/* ################ Feedback ################*/
.feedback {
  padding: 96px;
  background: #2e2100;
}

.feedback .body {
  display: flex;
}

.feedback .info .avatar {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}

.feedback .info .name {
  margin-top: 18px;
  color: #f7f7f7;
  font-family: Sen;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.42; /* 141.667% */
}

.feedback .info .major {
  margin-top: 4px;
  color: #bfbcb2;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.feedback .info .dots {
  display: flex;
  margin: 28px 0 0 0;
}

.feedback .info .dots .dot {
  width: 6px;
  height: 6px;
  background: #634700;
  border-radius: 50%;
}

.feedback .info .dots .dot.active {
  background: var(--primary-color);
}

.feedback .info .dots .dot:not(:first-child) {
  margin-left: 6px;
}

.feedback .quote {
  width: 770px;
  margin-left: auto;
}

.feedback .quote .icon-quote {
  margin-left: -30px;
}

.feedback .quote .desc {
  color: #fff;
  font-size: 2.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.54; /* 153.846% */
}

.feature {
  padding: 200px 0;
}

.feature .body {
  display: flex;
  justify-content: space-between;
}

.feature .body .images {
  display: flex;
  gap: 0 30px;
}

.feature .body .images .lower {
  margin-top: 34px;
}

.feature .body .images img {
  width: 270px;
  height: 404px;
  border-radius: 16px;
  object-fit: cover;
}

.feature .body .info {
  padding: 58px 0 0 130px;
}

.feature .body .info .desc {
  margin-top: 16px;
  color: #5f5b53;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.feature .body .info .btn-sign-up {
  margin-top: 32px;
  min-width: 137px;
  background: var(--primary-color);
}

.feature .body-bottom {
  margin-top: 200px;
  flex-direction: row-reverse;
}

.feature .body-bottom .info {
  width: 49%;
  padding: 0;
}

.feature .body-bottom .images .img {
  width: 470px;
  height: 440px;
}
